.md-header__button.md-logo :is(img,svg) {
     height: 2.5rem;
     width: auto;
}

.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header__ellipsis span.md-ellipsis {
    display:none;
}

:root>* {
--md-footer-bg-color: rgba(0,0,0,0.04);
--md-footer-fg-color: rgba(0,0,0,0.87);
--md-typeset-a-color: #1976D2;
}

.md-footer-meta {
    background-color: var(--md-footer-fg-color);
}

.md-copyright{
    color: var(--md-footer-fg-color--light);
}

.md-footer__link:where(:focus,:hover) {
    opacity: 1;
    color: #1976D2;
}

/* Hide main nav title */
label[for="__drawer"] {
    display: none;
}
.md-nav__list>*:first-child {
    margin-top: 0;
}

/* bold the top level childless pages */
/*.md-nav--primary > .md-nav__list > li > a {*/
/*    font-weight: bold;*/
/*}*/

.termynal-comment {
    color: #4a968f;
    font-style: italic;
    display: block;
}

.termy [data-termynal] {
    white-space: pre-wrap;
}

/* reduce the top margin of the main container */
.md-main__inner {
    margin-top: 0;
}

/* make the method names in API references stand out more */
.md-typeset h3 {
    font-weight: bold;
    font-size: 1.4em;
}

/* swap the top/bottom margin of h1 */
.md-typeset h1 {
    margin: 1.25em 0 0;
}